parameters:
	level: max
	paths:
		- Classes
		- Tests
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		-
			message: "#^Access to an uninitialized readonly property#"
			count: 2
			path: Classes/DataProcessing/Charts/LibraryRegistry.php
		-
			message: '#Class TYPO3\\CMS\\Fluid\\Core\\ViewHelper\\ViewHelperResolver constructor invoked with 3 parameters, 2 required#'
			path: Tests/Functional/ViewHelpers/AbstractViewHelperTestCase.php
			count: 1
		-
			message: '#Class TYPO3\\CMS\\Extbase\\Object\\ObjectManager not found#'
			path: Tests/Functional/ViewHelpers/AbstractViewHelperTestCase.php
			count: 1
		-
			message: '#Parameter \#2 \$namespaces of class TYPO3\\CMS\\Fluid\\Core\\ViewHelper\\ViewHelperResolver constructor expects#'
			path: Tests/Functional/ViewHelpers/AbstractViewHelperTestCase.php
			count: 1
		-
			message: '#Call to an undefined method PHPUnit\\Framework\\MockObject\\Generator\\Generator#'
			path: Tests/Unit/ExtConfigTrait.php
			count: 6

includes:
    - .Build/vendor/bnf/phpstan-psr-container/extension.neon
    - .Build/vendor/friendsoftypo3/phpstan-typo3/extension.neon
