.color-palette-modal-wrapper .modal-body {
    padding: 0;
}

.color-palette-modal-wrapper .modal-body::after {
    display: none;
}

.color-palette-modal {
    position: relative;
    width: 100%;
    height: 100%;
}

color-palette:not(:defined),
color-palette:not(:defined) > span {
    display: none
}
