name: "Check Coding Standards"

on:
  pull_request:
  push:

jobs:
  coding-standards:
    name: "Check Coding Standards"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "locked"
        php-version:
          - "8.2"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Composer install"
        uses: ./.github/actions/composer
        with:
          php-version: '${{ matrix.php-version }}'
          dependencies: '${{ matrix.dependencies }}'
          extensions: json, mbstring

      - name: "Coding Standard"
        run: .Build/bin/phpcs -q --report=checkstyle | cs2pr
